<% content_for :title do%>
  <%= t('contact.other')%>
<%end%>

<% sidebar %>

<% toolbar :home, :option => :contacts %>

<div id="my_conferences">
  <div id="contacts" class="block">
    <div class="search_field_wrapper">
      <input type="text" value="Search by name" id="search_field" class="search_input" />
      <%= image_tag("btn/search.png",:size=>"20x20",:id=>"search_button") %>
    </div>
    <div class="space_center"></div>

    <div class="row" >
      <div class="center">
        <%= link_to t('contact.all_n', :count => @total_contacts.count("DISTINCT contacts.id")), contacts_path %> -
        <% Actor.distinct_initials.
                 contacted_from(current_subject).
                 merge(Tie.related_by(current_subject.relation_customs.find_by_id(params[:relation]))).
                 distinct_initials.
                 each do |l| %>
          <%= link_to l.initial,{:letter => l.initial,:page => 1},:class => "contact_letter_link" %>
        <% end %>
      </div>
    </div>
    <div class="space_center"></div>
    <table style="float:left;"><tr>
      <td> <img alt="Btn_friend" src="/assets/btn/btn_friend.png"></td><td><a href="/contacts" style="padding: 0px 10px 0px 0px;">Current</a></td>
      <td><img alt="Btn_friend" src="/assets/btn/btn_friend.png"></td><td><a href="/contacts/pending" style="padding: 0px 10px 0px 0px;">Pending</a></td>
      <td><img alt="Btn_friend" src="/assets/btn/btn_friend.png"></td><td><a href="/ties" style="padding: 0px 10px 0px 0px;">Graph</a></td>
      <td><img alt="Btn_invitation" src="/assets/btn/btn_invitation.png"></td><td><a href="/invitations/new" style="padding: 0px 10px 0px 0px;"> Invite</a></td>
    </tr></table>
       <div class="space_center"></div><br>
    <div id="list_contacts_ajax" class="tab_content block">
      <%= render :partial => "contacts/index"%>
    </div>
    <div class="space_center"></div>
  </div>
</div>


<div class="space_center"></div>
